<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/addturf.css' %}">
</head>

<body background="{% static 'images/turf1.jpg' %}">
    <div class="form_container">
    <form method="POST" action="/turfadd/"enctype="multipart/form-data">
        {% csrf_token %}
        <label>Turf Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label> 
        <input type="text" name="Turfname"><br><br>
        <label>Contact Number :</label>
        <input type="text" name="contactnumber"><br><br>
        <label>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>

        <input type="email" name="email"><br><br>
        <label>Working Hours &nbsp;:</label>
        <input type="text" name="workinghrs"><br><br>
        <label>Location &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
        <textarea name="location" rows="10" cols="40"></textarea><br><br>
        <label>Fee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
        <input type="text" name="fee"><br><br>
        <label>Photo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
        <input type="file" name="photo"><br><br><br><br>
        <button>ADD TURF</button>
    </form>
    </div>



</body>
</html>